/* BACKGROUND */

body{
    background-color: black;
}

svg {
    border: 1px solid white;
    fill: transparent;
}

/* MAP AREAS */

#states {
        fill: white;
/*        fill: rgb(89, 8, 2); */
}
    
#states .active {
        /*  hide when selected  */
        display: none;
}
    
#state-borders {
        /* non-responsive black stroke */
        fill: none;
        stroke: black;
        stroke-width: .5px;
        stroke-linejoin: round;
        stroke-linecap: round;
        pointer-events: none;
}
    
.county-boundary {
        /*  white fill  */
        fill: white;
        /*  black border  */
        stroke: black;
}
    
.county-boundary:hover, .state:hover {
        /*  orange fill  */
        fill: orange;
}

/* POINTS */

circle {
	fill: rgba(245, 15, 15, 0.42);
}

circle:hover {
  fill: #ff0000;
}

/* DETAIL */

text {
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
    font-size: 14px;
    fill: white;
 }

.title {
    font-size: 1.5em;
    font-weight: bold;
    color: #60b1fc;
    margin: 0;
 }
 
.description_1, .description_2 {
    font-size: 1.2em;
 }


.detail {
    fill: black;
    opacity: .9;
    stroke: white;
    stroke-width: 2;
    font-size: 90%;
}