body{
    background-color: black;
}

svg {
/*    border-top: 1px solid #FFF0A5;*/
    fill: transparent;
}

/* map interaction */

#states {
        fill: white;
/*        fill: rgb(89, 8, 2); */
}
    
#states .active {
        /*  hide when selected  */
        display: none;
}
    
#state-borders {
        /* non-responsive black stroke */
        fill: none;
        stroke: black;
        stroke-width: .5px;
        stroke-linejoin: round;
        stroke-linecap: round;
        pointer-events: none;
}
    
.county-boundary {
        /*  white fill  */
        fill: white;
        /*  black border  */
        stroke: black;
}
    
.county-boundary:hover, .state:hover {
        /*  orange fill  */
        fill: orange;
}