/* BACKGROUND */

body{
    background-color: black;
}

svg {
    border: 1px solid white;
    fill: transparent;
}

/* MAP AREAS */

#states {
        fill: white;
/*        fill: rgb(89, 8, 2); */
}
    
#states .active {
        /*  hide when selected  */
        display: none;
}
    
#state-borders {
        /* non-responsive black stroke */
        fill: none;
        stroke: black;
        stroke-width: .5px;
        stroke-linejoin: round;
        stroke-linecap: round;
        pointer-events: none;
}
    
.county-boundary {
        /*  white fill  */
        fill: white;
        /*  black border  */
        stroke: black;
}
    
.county-boundary:hover, .state:hover {
        /*  orange fill  */
        fill: orange;
}

/* CHOROPLETH */
.q0-9 { fill:rgb(247,251,255); }
.q1-9 { fill:rgb(222,235,247); }
.q2-9 { fill:rgb(198,219,239); }
.q3-9 { fill:rgb(158,202,225); }
.q4-9 { fill:rgb(107,174,214); }
.q5-9 { fill:rgb(66,146,198); }
.q6-9 { fill:rgb(33,113,181); }
.q7-9 { fill:rgb(8,81,156); }
.q8-9 { fill:rgb(8,48,107); }


/* POINTS */

circle {
	fill: rgba(245, 15, 15, 0.42);
}

circle:hover {
  fill: #ff0000;
}

/* DETAIL */

text {
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
    font-size: 14px;
    fill: white;
 }

.title {
    font-size: 1.5em;
    font-weight: bold;
    color: #60b1fc;
    margin: 0;
 }
 
.description_1, .description_2 {
    font-size: 1.2em;
 }


.detail {
    fill: black;
    opacity: .9;
    stroke: white;
    stroke-width: 2;
    font-size: 90%;
}

/* SEARCH BAR */

.tftextinput2{
	margin: 0;
	padding: 5px 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#666;
	border:1px solid #0076a3; border-right:0px;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
}

.tfbutton2 {
	margin: 0;
	padding: 5px 7px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	border: solid 1px #0076a3; border-right:0px;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
}

.tfbutton2:hover {
	text-decoration: none;
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
}